.projects-container {
  background: linear-gradient(to right, #c4c4c4, #ffffff, #c4c4c4);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
