.skills-container {
  background: linear-gradient(to right, #c4c4c4, #ffffff, #c4c4c4);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.skills-title {
  font-family: Montserrat, sans-serif;
  font-size: 3vw;
  font-weight: bold;
  color: black;
  border: 1.6vw solid black;
  width: 25vw;
  text-align: center;
  margin-top: 10vh;
  padding: 3vw;
}

.skills-subtitles {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 3vw;
  margin-top: 4vh;
}

.skills-icons-styles {
  width: 6vw;
  margin-top: 3vw;
  margin-left: 3vw;
  margin-bottom: 2vh;
  transition: transform 0.3s ease;
}

.skills-blackSeparator {
  margin-top: 12vh;
  width: 20vw;
}

.icon-container {
  display: inline-block;
  text-align: center;
  margin-right: 2vw;
  transition: transform 0.3s ease;
}

.icon-text {
  font-family: Advent Pro, sans-serif;
  font-weight: bold;
  display: none;
  text-align: center;
  position: absolute;
  bottom: -1.5vw;
  left: 3vw;
  right: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-container:hover .icon-text {
  display: block;
  opacity: 1;
}

.icon-container:hover,
.icon-container:hover .skills-icons-styles {
  transform: scale(1.1);
}
