.container {
  min-height: 100%;
}

@media (min-width: 1024px) {
  .container {
    background: linear-gradient(102deg, #c4c4c4 50%, #000000 50%);
  }
  .icons {
    margin-left: 3vw;
    margin-right: 3vw;
    width: 3vw;
    transition: transform 0.3s;
    border-radius: 80px;
  }

  .icons:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
  }
}

@media (max-width: 1023px) {
  .container {
    background-image: url("../../assets/background/Background.svg");
    background-size: cover;
    background-position: center;
  }

  .icons {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 6vw;
  }
}

.separator {
  padding-top: 2vh;
  width: 30vw;
}
